<div class="container">
  <nav class="navbar-nav nav authform">
    <ul class="nav pull-left">
      <li><%= link_to "Basic Profile", "#edit_profile" %></li>
      <li><%= link_to "Bank Information", "#bank_info" %></li>
      <li><%= link_to "Tax numbers", "#tax_info" %></li>
      <li><%= link_to "Addresses", '#addresses' %></li>
      <li><%= link_to "Change Password", '#change_password' %></li>
      <li><%= link_to "Cancel Account", '#cancel_account' %></li>
    </ul>
  </nav>

  <div id="edit_profile" class="authform">
    <legend><%= resource_name.to_s.humanize %> Profile</legend>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :role => 'form'}) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', readonly: 'true' %>
        </div>
        <%= f.submit 'Update', :class => 'button right' %>
    <% end %>

  </div>

  <div class="authform">
    <span id="bank_info"></span>
    <legend>Bank Account</legend>
    <%= form_for(@user.user_attribute, :as => :user_attribute, :url => user_attributes_update_path(@user.id), :html => {:method => :put, :role => 'form'}) do |f| %>
        <% if @user.user_attribute.bank_name.blank? || @user.user_attribute.bank_branch.blank? || @user.user_attribute.bank_account_number.blank? || @user.user_attribute.bank_rtgs_code.blank? %>
            <p class="alert-danger">Once entered, this information cannot be changed. Please make sure you enter this data correctly.</p>
        <% end %>
        <% if @user.user_attribute.bank_name.present? || @user.user_attribute.bank_branch.present? || @user.user_attribute.bank_account_number.present? || @user.user_attribute.bank_rtgs_code.present? %>
            <p class="alert-danger">To change the data entered, please call customer care.</p>
        <% end %>
        <div class="form-group">
          <%= f.label :bank_name %>
          <%= f.text_field :bank_name, class: 'form-control', readonly: @user.user_attribute.bank_name.present? %>
        </div>
        <div class="form-group">
          <%= f.label :bank_branch %>
          <%= f.text_field :bank_branch, class: 'form-control', readonly: @user.user_attribute.bank_branch.present? %>
        </div>
        <div class="form-group">
          <%= f.label :bank_account_number %>
          <%= f.text_field :bank_account_number, class: 'form-control', readonly: @user.user_attribute.bank_account_number.present? %>
        </div>
        <div class="form-group">
          <%= f.label :bank_rtgs_code %>
          <%= f.text_field :bank_rtgs_code, class: 'form-control', readonly: @user.user_attribute.bank_rtgs_code.present? %>
        </div>
        <div class="form-group">
          <%= f.label :cancelled_cheque_photo %>
          <% if @user.user_attribute.cancelled_cheque_photo.present? %>
              <%= image_tag @user.user_attribute.cancelled_cheque_photo.url(:thumb) %>
          <% else %>
          <%= f.file_field :cancelled_cheque_photo, class: 'form-control' %>
              <% end %>
        </div>
        <%= f.submit 'Update', :class => 'button right' %>
    <% end %>
  </div>

  <div class="authform">
    <span id="tax_info"></span>
    <legend>Tax Information</legend>
    <%= form_for(@user.user_attribute, :as => :user_attribute, :url => user_attributes_update_path(@user.id), :html => {:method => :put, :role => 'form'}) do |f| %>
        <% if @user.user_attribute.vat_number.blank? || @user.user_attribute.cst_number.blank? || @user.user_attribute.pan_number.blank? %>
            <p class="alert-danger">Once entered, this information cannot be changed. Please make sure you enter this data correctly.</p>
        <% end %>
        <% if @user.user_attribute.vat_number.present? || @user.user_attribute.cst_number.present? || @user.user_attribute.pan_number.present? %>
            <p class="alert-danger">To change the data entered, please call customer care.</p>
        <% end %>
        <div class="form-group">
          <%= f.label :vat_number %>
          <%= f.text_field :vat_number, class: 'form-control', readonly: @user.user_attribute.vat_number.present? %>
        </div>
        <div class="form-group">
          <%= f.label :cst_number %>
          <%= f.text_field :cst_number, class: 'form-control', readonly: @user.user_attribute.cst_number.present? %>
        </div>
        <div class="form-group">
          <%= f.label :pan_number %>
          <%= f.text_field :pan_number, class: 'form-control', readonly: @user.user_attribute.pan_number.present? %>
        </div>
        <%= f.submit 'Update', :class => 'button right' %>
    <% end %>
  </div>

  <div class="authform">
    <span id="addresses"></span>

  </div>

  <div class="authform">
    <span id="change_password"></span>
    <legend>Change Password</legend>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <p>Leave these fields blank if you don't want to change your password.</p>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </fieldset>
        <fieldset>
          <p>You must enter your current password to make changes.</p>

          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, class: 'form-control' %>
          </div>
        </fieldset>
        <%= f.submit 'Update', :class => 'button right' %>
    <% end %>
  </div>

  <div class="authform">
    <span id="cancel_account"></span>
    <h3>Cancel Account</h3>

    <p>Unhappy? We'll be sad to see you go.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => 'button right' %>
  </div>
</div>